<app-navbar></app-navbar>
<div class="w-full mt-[60px] pt-12 pb-6 px-[5%] relative">
  <h1>Users</h1>
  <div class="my-10 max-w-[1000px]">
    <app-add-user (addUserEvent)="addUser($event)"></app-add-user>
  </div>

  <div class="flex max-w-[1000px]">
    <app-search
      class="flex-auto mr-4"
      #searchComponentRef
      label="Search for the user by name"
      (searchEvent)="searchUserName($event)">
    </app-search>
    <app-search
      class="flex-auto ml-4"
      #searchComponentRef
      label="Search for the user by email"
      (searchEvent)="searchUserEmail($event)">
    </app-search>
  </div>

  <div *ngIf="users.length > 0; else noResultsMessage" class="mt-5">
    <app-table
      [data]="users"
      [columns]="tableColumns"
      (editItem)="openDialog($event)"
      (deleteItem)="deleteUser($event)">
    </app-table>
  </div>
  <div class="w-full py-4">
    <app-pagination
      [elements]="users"
      [spinner]="spinner"
      [currentPage]="currentPage"
      [pages]="pages"
      [resultsPerPage]="resultsPerPage"
      [total]="total"
      (previousPageEvent)="previousPage($event)"
      (nextPageEvent)="nextPage($event)"
      (firstPageEvent)="firstPage($event)"
      (lastPageEvent)="lastPage($event)"
      (resultsPerPageEvent)="setResultsPerPage($event)">
    </app-pagination>
  </div>
  <app-spinner [showSpinner]="spinner"></app-spinner>
</div>

<ng-template #addUserDialog>
  <app-edit-user
    [title]="'Edit Existing User'"
    [user]="userToEdit"
    (userEdited)="handleUserEdited()"
    (cancelEdit)="closeDialog()">
  </app-edit-user>
</ng-template>
<ng-template #noResultsMessage>
  <p class="text-gray-600 text-center mt-4">No results found.</p>
</ng-template>
