.bg-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(59 102 246);
  background-image: url(https://cdn.wallpapersafari.com/77/89/ms3kKF.jpg);
  background-size: cover;
}

.bg-white {
  width: 100%;
  max-width: 400px;
  padding: 33px;
}

.shadow-lg {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rounded-lg {
  border-radius: 10px;
}

.space-y-4 > * {
  margin-bottom: 1rem;
}
